<mat-accordion>

    <mat-expansion-panel class="black text-maverick" *ngFor="let item of list">
        <mat-expansion-panel-header>
            <h1>{{ item.name }}</h1>
        </mat-expansion-panel-header>

        <table class="table">
            <tr *ngFor="let value of item.items">
                <td>
                    <h3>{{ value.name }}</h3>
                </td>
                <td>{{ value.desciption }}</td>
                <td>
                    <h3>{{ value.price }}€</h3>
                </td>
            </tr>
        </table>

    </mat-expansion-panel>

</mat-accordion>